.caruselBlock {
    overflow: hidden;
    width: 100vw;
    background-color: #fff;
    height: 700px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    .carusel {
        position: relative;
        width: 1140px;
        height: 440px;
        margin: 6.25rem 0 0 0;
        display: flex;
        background-color: #E2F0EF;
        overflow: hidden;


        .carusel__items {
            width: 100%;
            height: 100%;
            position: relative;
            display: flex;
            left: 0;
            transition: .65s ease;

            .carusel__slide {
                width: 1140px;
                display: flex;
                position: relative;
            }

            .carusel__info {
                margin: 3.375rem 0 3.5rem 4rem;
                display: flex;
                flex-direction: column;

                h3 {
                    width: 300px;
                    font-weight: 700;
                    font-size: 2.375rem;
                    line-height: 3.125rem;
                    text-transform: uppercase;
                    color: #364844;
                }

                h4 {
                    width: 132px;
                    font-weight: 400;
                    font-size: 1.375rem;
                    line-height: 1.75rem;
                    color: #364844;
                }

                ul {
                    display: block;
                    margin: 1rem 0 0 0;
                    width: 393px;

                    li {
                        color: #1FA181;

                        span {
                            display: block;
                            margin: 0.5rem 0 0 0;
                            color: #364844;
                        }
                    }
                }

                .carusel__costBlock {
                    margin: 2.125rem 0 0 0;
                    display: flex;
                    align-items: center;

                    .carusel__currCost {
                        font-weight: 400;
                        font-size: 1.25rem;
                        line-height: 1.625rem;
                        color: #364844;
                    }

                    .carusel__prevCost {
                        margin: 0 0 0 16px;
                        font-weight: 400;
                        font-size: 1rem;
                        line-height: 1.5rem;
                        text-decoration-line: line-through;
                        color: #868686;

                    }
                }

                .carusel__btnsBlock {
                    display: flex;
                    margin: 1.625rem 0 0 0;
                }

            }

            .carusel__backgroundImage {
                position: relative;
                left: -1.375rem;

                img {
                    width: 692px;
                    height: 440px;
                    clip-path: polygon(13% 0, 100% 0, 100% 100%, 26% 100%);
                }
            }

        }
    }

    .carusel__paging {
        margin: 2.5rem 0 0 0;
        display: flex;
        height: 24px;
        justify-content: center;
        align-items: center;
        font-weight: 400;
        font-size: 1.125rem;
        line-height: 1.5rem;
        color: #364844;

        .carusel__leftArrow {
            margin: 0 2.25rem 0 0;
        }

        .carusel__rightArrow {
            margin: 0 0 0 2.25rem;
            transform: matrix(-1, 0, 0, 1, 0, 0);
        }

        .carusel__leftArrow:hover,
        .carusel__rightArrow:hover {
            cursor: pointer;
        }
    }
}


@media screen and (width <=375px) {
    .caruselBlock {
        padding: 3.125rem 0 0 0;
        background-color: #fff;
        width: 100vw;
        justify-content: flex-start;


        .carusel {
            margin: 0;
            position: relative;
            width: 100vw;
            height: 536px;
            flex-direction: column;



            .carusel__items {
                width: 100%;
                height: 100%;
                left: 0;

                .carusel__slide {
                    flex-direction: column;
                    width: 100vw;
                    display: flex;
                    position: relative;
                }

                .carusel__info {
                    margin: 1.375rem 1.5rem;
                    display: flex;
                    flex-direction: column;

                    h3 {
                        font-size: 1.625rem;
                        line-height: 2.125rem;
                    }

                    h4 {
                        font-size: 0.875rem;
                        line-height: 1.125rem;
                    }

                    ul {
                        margin: 1rem 0 0 1rem;
                        width: 100vw;

                        li {
                            overflow-wrap: break-word;

                            span {
                                font-weight: 400;
                                font-size: 0.875rem;
                                line-height: 145%;
                            }
                        }
                    }

                    .carusel__costBlock {

                        .carusel__currCost {
                            font-size: 1.125rem;
                            line-height: 1.5rem;
                        }

                        .carusel__prevCost {
                            margin: 0 0 0 1rem;
                            font-size: 0.875rem;
                            line-height: 1.125rem;
                        }
                    }

                }

                .carusel__backgroundImage {
                    order: -1;
                    position: relative;
                    top: 0;
                    left: 0;

                    img {
                        width: 100vw;
                        height: 169px;
                        clip-path: none;
                    }
                }

            }
        }
    }

}

@media screen and (width > 375px) and (width < 600px) {
    .caruselBlock {
        padding: 3.125rem 0 0 0;
        background-color: #fff;
        width: 100vw;
        height: 100vh;
        justify-content: flex-start;


        .carusel {
            margin: 0;
            position: relative;
            width: 100vw;
            flex-direction: column;
            height: 668px;



            .carusel__items {
                width: 100%;
                height: 100%;
                left: 0;

                .carusel__slide {
                    flex-direction: column;
                    width: 100vw;
                    display: flex;
                    position: relative;
                }

                .carusel__info {
                    margin: 1.375rem 1.5rem;
                    display: flex;
                    flex-direction: column;

                    h3 {
                        font-size: 1.625rem;
                        line-height: 2.125rem;
                    }

                    h4 {
                        font-size: 0.875rem;
                        line-height: 1.125rem;
                    }

                    ul {
                        margin: 1rem 0 0 1rem;
                        width: 100vw;

                        li {
                            overflow-wrap: break-word;

                            span {
                                font-weight: 400;
                                font-size: 0.875rem;
                                line-height: 145%;
                            }
                        }
                    }

                    .carusel__costBlock {

                        .carusel__currCost {
                            font-size: 1.125rem;
                            line-height: 1.5rem;
                        }

                        .carusel__prevCost {
                            margin: 0 0 0 1rem;
                            font-size: 0.875rem;
                            line-height: 1.125rem;
                        }
                    }

                }

                .carusel__backgroundImage {
                    order: -1;
                    position: relative;
                    top: 0;
                    left: 0;

                    img {
                        width: 100vw;
                        height: 300px;
                        clip-path: none;
                    }
                }

            }
        }
    }

}

@media screen and (width >=600px) and (width <=800px) {
    .caruselBlock {
        padding: 3.125rem 0 12.5rem 0;
        background-color: #fff;
        width: 100vw;
        height: 120vh;
        justify-content: flex-start;


        .carusel {
            margin: 0;
            position: relative;
            width: 100vw;
            flex-direction: column;
            height: 100vh;



            .carusel__items {
                width: 100%;
                height: 100%;
                left: 0;

                .carusel__slide {
                    flex-direction: column;
                    width: 100vw;
                    display: flex;
                    position: relative;
                }

                .carusel__info {
                    margin: 1.375rem 1.5rem;
                    display: flex;
                    flex-direction: column;

                    h3 {
                        font-size: 1.625rem;
                        line-height: 2.125rem;
                    }

                    h4 {
                        font-size: 0.875rem;
                        line-height: 1.125rem;
                    }

                    ul {
                        margin: 1rem 0 0 1rem;
                        width: 100vw;

                        li {
                            overflow-wrap: break-word;

                            span {
                                font-weight: 400;
                                font-size: 0.875rem;
                                line-height: 145%;
                            }
                        }
                    }

                    .carusel__costBlock {

                        .carusel__currCost {
                            font-size: 1.125rem;
                            line-height: 1.5rem;
                        }

                        .carusel__prevCost {
                            margin: 0 0 0 1rem;
                            font-size: 0.875rem;
                            line-height: 1.125rem;
                        }
                    }

                }

                .carusel__backgroundImage {
                    order: -1;
                    position: relative;
                    top: 0;
                    left: 0;

                    img {
                        width: 100vw;
                        height: 500px;
                        clip-path: none;
                    }
                }

            }
        }
    }

}

@media screen and (width > 800px) and (width <=1000px) {
    .caruselBlock {
        overflow: hidden;
        width: 100vw;
        height: 700px;


        .carusel {
            width: 100vw;
            margin: 3.125rem 0 0 0;



            .carusel__items {
                width: 100vw;
                height: 100vh;

                .carusel__slide {
                    width: 100vw;
                }

                .carusel__backgroundImage {
                    width: 100vw;
                    position: relative;
                    left: 0px;

                    img {
                        right: 0;
                        position: absolute;
                        width: 50vw;

                    }
                }

            }
        }
    }
}