@font-face {
    font-family: 'PT Sans Caption';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/PTSansCaption-Regular.ttf');
}
@font-face {
    font-family: 'PT Sans Caption';
    font-style: normal;
    font-weight: 700;
    src: url('./assets/fonts/PTSansCaption-Bold.ttf');
}